<p>cart works!</p>
<nav>
    <h2>Products</h2>
    <ul class="cartitems">
      <li *ngFor="let c of cartitems">

     <nav>
     <a [routerLink]="['/products', c.product.id ]" routerLinkActive="active"><h2>{{c.product.name}}</h2></a>
     </nav>
         <h4>{{c.product.description}}</h4>
            
            <div class="example-button-row" style="text-align:right">
                    Rent Per day:{{c.product.rent}}<br>
            
                    No Of Item: {{c.quantity}}
            <br>
            <hr/>
            <br>
            Total Rent: {{(c.product.rent)*(c.quantity)}}<br>    
            </div>
      </li>
        <nav>
            <a routerLink="/booknow" class="btn btn-primary active" role="button">Rent Now</a>
            <a routerLink="/products"  class="btn btn-primary active" role="button">Continue Shopping</a>
        </nav>
    </ul>
    </nav>