<p>productcrud works!</p>
<!--<nav>
        <h2>Products</h2>
        <ul class="products">
          <div *ngFor="let product of products">
              <div class="card">
                  <img src="{{product.img}}" alt="img" style="width:100%">
                  <h1>{{product.name}}</h1>
                  <p class="price"> Rent PerDay: {{product.rent}}</p>
                  <p>{{product.description}}</p>
                  <p>
                      <button><a [routerLink]="['/products', product.id ]" >
                    Go To Product
                    </a></button></p><br><br>
                </div>
           <!-- <span class="badge">{{product.name}}</span> {{product.description}}
            
                <a [routerLink]="['/products', product.id ]" class="btn btn-primary active" role="button">
                Go To Product
                </a>
               
              </div>
        </ul>
        </nav>-->
        <div class="col-md-12">  
                <h2> Product Details</h2>  
                <div class="table-responsive table-container">  
                  <table class="table">  
                    <thead>  
                      <tr>  
                        <th>Id</th>  
                        <th>Product Name</th>  
                        <th>Description</th>  
                        <th>Category</th>
                        <th>Price</th>
                        <th>Rent</th>
                        <th>Image</th>  
                      </tr>  
                    </thead>  
                    <tbody>  
                      <tr *ngFor="let product of products">  
                        <td class="hidden">{{product.id}}</td>  
                        <td>{{product.name}}</td>  
                        <td>{{product.description}}</td>  
                        <td>{{product.category}}</td> 
                        <td>{{product.price}}</td>  
                        <td>{{product.rent}}</td>
                        <td>{{product.img}}</td>    
                        <td>  
                          <button (click)="deleteProd(product)" class="btn btn-info"> Delete</button>  
                          <button (click)="editProd(product)" style="margin-left: 20px;" class="btn btn-info"> Edit</button>  
                        </td>  
                      </tr>  
                    </tbody>  
                  </table>  
                  <a routerLink="/addprod" class="btn btn-primary active" role="button">Add Product</a>
                </div>  
              </div>