<div>
<p>product-catalog works!</p>
<nav>
<h2>Products</h2>
<ul class="products">
  <div *ngFor="let product of products">
      <div class="card">
          <img src="{{product.img}}" alt="img" style="width:100%">
          <h1>{{product.name}}</h1>
          <p class="price"> Rent PerDay: {{product.rent}}</p>
          <p>{{product.description}}</p>
          <p>
              <button><a [routerLink]="['/products', product.id ]" >
            Go To Product
            </a></button></p><br><br>
        </div>
   <!-- <span class="badge">{{product.name}}</span> {{product.description}}
    
        <a [routerLink]="['/products', product.id ]" class="btn btn-primary active" role="button">
        Go To Product
        </a>
       -->
      </div>
</ul>
</nav>
<!--<input type="button" value="Display" onclick="getProducts()"> -->
</div>