<p>productdetails works!</p>

<h2>{{this.product.name}}</h2>
<h4>{{this.product.description}}</h4>

<div class="example-button-row" style="text-align:right">
        Rent Per day:{{this.product.rent}}<br>

        <button mat-raised-button (click)="OnRemove()">-</button>
        {{this.count}}
        <button mat-raised-button (click)="OnAdd()">+</button>
        <br>{{this.msg}}
<br>
<input type="number" name="venrent" id="venrent" [(ngModel)]="venrent">
<hr/>
<br>

<button  (click)="AddToCart()">Add To Cart</button>

<a routerLink="/products" class="btn btn-primary" role="button">
    Go To Products
    </a>
  </div>